<!DOCTYPE html>
<html>
	<head>
		<meta
			name="viewport"
			content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
		/>
		<title><%= model.name %></title>
		<link rel="stylesheet" href="/stylesheets/ar.css" />
	</head>
	<script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
	<script src="https://rawgit.com/jeromeetienne/AR.js/master/aframe/build/aframe-ar.min.js"></script>
	<script src="/modules/ar.js" defer></script>
	<script src="https://raw.githack.com/fcor/arjs-gestures/master/dist/gestures.js"></script>
	<script src="https://rawgit.com/donmccurdy/aframe-extras/master/dist/aframe-extras.loaders.min.js"></script>

	<body style="margin: 0px; overflow: hidden">
		<header>
			<nav>
				<ul>
					<li><button class="selectedModel"><%= model.name %></button></li>
					<li><button>Model Info</button></li>
				</ul>
				<ul>
					<li>
						<button>
							<svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
								<g transform="matrix(1, 0, 0, 1, -7.517306, -12.284566)">
									<path
										d="M234.875 18.78c-26.087 2.367-51.557 8.56-74.875 18.782 15.37 32.763 14.222 66.706-6.72 82.407-20.835 15.617-54.055 7.965-81.124-15.69-16.246 19.452-29.336 41.36-38.875 65.626 33.83 12.333 56.635 37.665 52.94 63.5-3.698 25.835-32.697 43.74-68.626 46.094 2.338 25.796 8.91 50.778 18.937 73.875 17.81-8.182 35.793-11.09 51.095-8.938 13.032 1.87 23.927 7.015 31.156 16.657 15.817 21.097 7.603 54.713-16.78 81.97 19.516 16.35 42.216 29.444 66.594 39.03 12.33-33.828 37.655-56.634 63.5-52.938 25.844 3.697 43.74 32.696 46.094 68.625 26.087-2.365 51.557-8.555 74.875-18.78-15.766-32.997-14.26-67.588 6.843-83.406 9.64-7.23 22.568-9.022 35.594-7.125 15.112 2.16 31.19 10.25 45.563 22.78 16.088-19.345 29.4-41.51 38.875-65.594-33.83-12.332-56.635-37.653-52.938-63.5 3.697-25.846 32.665-43.772 68.594-46.125-2.36-25.944-8.774-50.663-18.906-73.874-32.612 15.117-66.66 13.145-82.282-7.687-15.696-20.944-7.252-53.86 16.688-81-19.52-16.352-42.248-29.447-66.625-39.032-12.332 33.828-37.657 56.66-63.5 52.968-25.846-3.693-43.744-32.696-46.095-68.625zm21.656 95.126c79.626 0 144.376 64.752 144.376 144.375 0 79.626-64.75 144.376-144.375 144.376-79.624 0-144.374-64.75-144.374-144.375 0-79.624 64.75-144.374 144.375-144.374zm0 18.688c-69.524 0-125.686 56.162-125.686 125.687 0 69.526 56.162 125.69 125.687 125.69 69.526 0 125.69-56.164 125.69-125.69 0-69.522-56.164-125.686-125.69-125.686zm.033 15.125c61.094 0 110.625 49.53 110.625 110.624 0 61.095-49.53 110.625-110.625 110.625s-110.625-49.53-110.625-110.626c0-61.095 49.53-110.625 110.625-110.625z"
										fill-opacity="1"
										stroke-opacity="1"
										stroke-width="40"
										style="fill: none; stroke: rgb(255, 255, 255)"
										transform="translate(81, 81) scale(0.7, 0.7) rotate(0, 256, 256) skewX(0) skewY(0)"
									></path>
								</g>
							</svg>
						</button>
					</li>
					<li>
						<button>?</button>
					</li>
				</ul>
			</nav>
		</header>

		<main>
			<div id="markerContainer">
				<img src="/img/barcode6.png" alt="AR Marker" />
			</div>
			<!-- Info -->
			<section>
				<h2>Creator</h2>
				<p><%= model.username %></p>

				<h2>Tags</h2>
				<ul>
					<% for(let i = 0; i < model.tags.length; i++) { %>
					<li><%- model.tags[i] %></li>
					<% } %>
				</ul>

				<h2>Description</h2>
				<p><%= model.description %></p>
			</section>

			<!-- Help -->
			<section>
				<button>X</button>
				<img src="/img/controls.jpg" />
			</section>

			<!-- Settings -->
			<section>
				<ul>
					<li>
						<button>
							<svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
								<g transform="matrix(1, 0, 0, 1, -7.517306, -12.284566)">
									<path
										d="M120.16 45A20.162 20.162 0 0 0 100 65.16v381.68A20.162 20.162 0 0 0 120.16 467h65.68A20.162 20.162 0 0 0 206 446.84V65.16A20.162 20.162 0 0 0 185.84 45h-65.68zm206 0A20.162 20.162 0 0 0 306 65.16v381.68A20.162 20.162 0 0 0 326.16 467h65.68A20.162 20.162 0 0 0 412 446.84V65.16A20.162 20.162 0 0 0 391.84 45h-65.68z"
										fill-opacity="1"
										stroke-opacity="1"
										stroke-width="40"
										style="fill: none; stroke: rgb(255, 255, 255)"
										transform="translate(81, 81) scale(0.7, 0.7) rotate(0, 256, 256) skewX(0) skewY(0)"
									></path>
								</g>
							</svg>
						</button>
					</li>
					<li><button>?</button></li>
					<li><button>?</button></li>
					<li><button>?</button></li>
				</ul>
			</section>
			<svg id="logo" width="60" height="60">
				<image xlink:href="/img/RLabSVG.svg" width="60" height="60" />
			</svg>
		</main>

		<a-scene
			vr-mode-ui="enabled: false"
			embedded
			renderer="logarithmicDepthBuffer: true"
			gesture-detector
			arjs="sourceType: webcam; trackingMethod: best; debugUIEnabled: false; detectionMode: mono_and_matrix; matrixCodeType: 3x3; sourceWidth: 1920; sourceHeight: 1080;"
		>
			<a-assets>
				<a-asset-item
					id="animated-asset"
					src="/gltfModels/<%- model.modelid %>/model.gltf"
				></a-asset-item>
			</a-assets>

			<a-marker
				id="animated-marker"
				type="barcode"
				value="6"
				size="0.3"
				raycaster="objects: .clickable"
				emitevents="true"
			>
				<a-entity
					gltf-model="#animated-asset"
					scale="2 2 2"
					rotation="0 0 0"
					class="clickable"
					gesture-handler
				>
				</a-entity>
			</a-marker>

			<a-entity camera></a-entity>
		</a-scene>
	</body>
</html>
