<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/styles.css" />
		<link rel="stylesheet" href="/stylesheets/uploadEdit.css" />
		<script src="/modules/detail.js" defer></script>
		<title><%= model.name %></title>
	</head>
	<body>
		<header>
			<nav>
				<a href="upload.html"><img src="" /></a>
				<ul>
					<li><a href="/">Overview</a></li>
					<li><a href="/">Manuals</a></li>
					<li><a href="/">Troubleshooting</a></li>
				</ul>
				<button type="button"><img src="" /></button>
			</nav>
		</header>

		<main>
			<h1><%= model.name %></h1>

			<section>
				<section id="formcon">
					<section class="thumbnailcon fset">
						<img
							src="/gltfModels/<%= model.modelid %>/thumbnail.jpg"
							alt="thumbnail"
						/>
					</section>
					<section class="fset">
						<h2>Information</h2>
						<div>
							<p>Creator:</p>
							<p><%= creator.name %></p>
						</div>
						<div>
							<p>Date:</p>
							<p><%- model.date %></p>
						</div>
						<div>
							<p>Tags:</p>
							<p>
								<% tags = model.tags[0]; for (let i = 1; i < model.tags.length;
								i++) { tags = tags.concat(", ", model.tags[i]); } %> <%= tags %>
							</p>
						</div>
						<% if (locals.model.type === 'gps') { %>
						<div>
							<p>Longitude:</p>
							<p><%= locals.model.longitude %></p>
						</div>
						<div>
							<p>Latitude:</p>
							<p><%= locals.model.latitude %></p>
						</div>
						<% } %>
					</section>
				</section>

				<section id="formcon">
					<section class="thumbnailcon fset">
						<img src="<%= qr %>" alt="qrcode ar" />
						<img src="/img/barcode6.png" alt="armarker" />
					</section>
					<section class="fset">
						<h2>Description</h2>
						<div>
							<p><%= model.description %></p>
						</div>
					</section>
				</section>
			</section>

			<% if (locals.isCreator) { %>
			<div id="buttoncon">
				<button type="button" class="buttonblue">Edit</button>
			</div>
			<% } %>
		</main>
	</body>
</html>
